

.profile__img {
  max-width: 39px;
}

.notifications {
  background-color: rgb(235, 235, 237);
  color: gray;
  font-size: 18px;
  padding: 10px;
}

.badge_notifications{
  padding: 4px;
  top: 12px;
  left: 29px;
}

.badge_profile{
  padding: 4px;
  top: 32px;
  left: 32px;
}

.navbar-toggler{
  max-height: 40px;
}

.cards_profile__img{
  max-width: 35px;
}

.bi.bi-bar-chart-fill{
  color: blueviolet;
}

.carousel-control-prev,
.carousel-control-next{
  /* background-color: white; */
  width: 4%;
  /* color:black; */
  /* font-size: 30px; */
}
